{
  "version": "1.0.0",
  "type": "dev",
  "port": ":3000",
  "jwt_signing_key": "",
  "log_files": {
    "gin_standard": "logs/gin.log",
    "gin_err_logger": "logs/gin.error.log",
    "server_logger": "logs/server.log"
  },
  "database": {
    "postgres": {
      "db_name": "transaction_db",
      "host": "127.0.0.1",
      "port": "5432",
      "username": "--",
      "password": "--",
      "sslmode": "disable"
    }
  }
}